 body{
    background: linear-gradient(to top, #daf8ff 0%, #5ce3ff 100%);  }
    .navbar-expand-lg .navbar-collapse{
    justify-content: end;
    margin-right: 69px;
  }
  .nav-item{
     margin-right: 30px;
  }
  .head3{
    text-align: center;
    margin-top: 15px;
     padding-bottom: 10px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(114, 26, 26);

  }
  .but_sub
  {
    text-align: center;
     border-radius: 10px;
    background-color:aquamarine;
    font-size: 20px;
    height: 50px;
    margin-top: 20px;
    margin-right: 22px;
    width:90px;
  }
   
  .but_sub1
  {
    text-align: center;
    border-radius: 30px;
  }
 
  .but_sem
  {
    width: 300px;
  }
  input {
    text-align: center;
  }